.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
